@import "common";
@import "index";

$theme-color: #2aba88;

#about {
  //padding-top: px2rem(135px);
}

.about {
  padding: px2rem(50px);
  margin-top: px2rem(20px);
  text-align: left;
  font-size: 14px;
  line-height: 150%;
  .title {
    font-size: 120%;
  }
}

.backHome{
  width: px2rem(80px);
  height: px2rem(80px);

  border-radius: 50%;

  position: fixed;
  bottom: px2rem(20px);

  color: #ffffff;

  background-color: rgba(51, 51, 51, 0.7);

}
